:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --body-background-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

input{
  outline: none;
  border: none;
}


#app{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}



.el-message {
  --el-message-bg-color: #00000060 !important;
  --el-message-text-color: #efefef !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px !important;
  border-color: transparent !important;

  .el-message__badge {
    display: none;
  }

  .el-message__content {
    white-space: nowrap;
  }
}